body {
    background-color: hsl(152, 93%, 52%);
    padding: 20px;
    margin: 0;
  }

  h1 {
    color: rgb(15, 2, 1);
  }
 h2, p, ul, li {
    font-family: sans-serif;
    color: hsl(152, 93%, 52%);
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: hsl(152, 93%, 52%);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: rgb(8, 0, 0);
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }